{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Liste des articles</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>State</th>
                <th>Published At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>{{ article.content[:10]|raw }}</td>
                    <td>{{ article.state }}</td>
                    <td>{{ article.publishedAt is null ? '-' : article.publishedAt|date('d-m-Y H:i:s') }}</td>
                    <td>
                        <a href="{{ path('article_show', {'slug': article.slug}) }}">{{ 'show'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'no_records'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}
